body {
    display: center;
    text-align: center;
    object-position: center;
    padding-top: 20px;
}

div {
    display: center;
}

button {
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

ul {
    list-style-type: none;
}